
<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                İletişime Geçin
            </h2>

            <p class="h1">
                Aşağıdaki form aracılığıyla bana kolayca ulaşabilirsiniz.
            </p>
        </div>
    </div> <!-- end contact-top -->
    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Bana Ulaş</h3>
            <p class="contact-links">
                <a href="mailto:sayhello@luther.com" class="mailtoui">buseyesil55@gmail.com</a> <br>
           
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Sosyal Medya</h3>
            <ul class="contact-social">
               
               
                <li><a href="#0">Linkedln</a></li>
                <li><a href="#0">Github</a></li>
            </ul>
        </div>
       
    </div>
</section>
<section id="contact2" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12 md-6 tab-6 stack-on-550 contact-block">
            <h2 class="text-pretitle">
                Mesaj Gönderin
            </h2>
            <form class="column lg-12" method="post" action="/Default/SendMessage/">
                <label>Ad Soyad</label>
                <input type="text" name="Name" class="form-control" required />
                <br />
                <label>Email</label>
                <input type="email" name="Email" class="form-control" required />
                <br />
                <label>Konu</label>
                <input type="text" name="Subject" class="form-control" required />
                <br />
                <label>Mesajınız</label>
                <textarea type="text" name="MessageContent" class="form-control" rows="4" required></textarea>
                <br />
                <button class="btn btn-outline-dark">Mesajı Gönder</button>
            </form>
        </div>
    </div> <!-- end contact-top -->
</section>

