@model MyPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "Yeni Referans";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Referans Ekle</h2>

<form method="post">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Resim URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @rows = "4" })
    <br />

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="/Testimonial/Index" class="btn btn-secondary">İptal</a>
</form>
